body {
    margin: 0 20px;
    background-color: rgb(242, 248, 244);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    gap: 20px;
    height: 900px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: flex-end;
    background-color: white;
}

.item {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0)
}